1. swap 2 variables without using 3rd variable

In [1]:
x=1
y=3

x=x+y
y=x-y
x=x-y
print(x,y)

3 1

2. write a function to take a list value and create its cube if its a integer number and make the changes for the original data on every index

In [3]:
def cube(l):
    for i in range(len(l)):
        if type(l[i])==int:
            l[i]=l[i]**3
a=[1,2,3,'ab',4]
cube(a)
print(a)

[1, 8, 27, 'ab', 64]

3.  Create a function which takes an parameter of string type
	- Accept the string in case if the string contains all Vowels ( a,e,i,o,u)

In [4]:
def has_all_vowels(s):
    a=set(s)
    c=0
    for i in a:
        if i in 'aeiou':
            c+=1
    if c==5:
        return True
    else:
        return False
s='aeiousAll'
print(has_all_vowels(s.lower()))

True

4. Accept the string in case if we have vowels but in even positions of the data ( all vowels)

Otherwise return string not accepted

In [16]:
def check_vowel_in_even_pos(s):
    flag=True
    if has_all_vowels(s):
        for i in s:
            if s.index('a')%2==1 or s.index('e')%2==1 or s.index('i')%2==1 or s.index('o')%2==1 or s.index('u')%2==1:
                flag=False
                break
    return flag
s='adrezisoxu'
if check_vowel_in_even_pos(s):
    print("String accepted")
else:
    print("String rejected as vowels are not in even positions")

String rejected as vowels are not in even positions

5. Write a program to find lcm of 2 numbers

In [20]:
a=23
b=25
maxi=max(a,b)
lcm=maxi
i=1
while(True):
    if maxi*i%a==0 and maxi*i%b==0:
        lcm=maxi*i
        break;
    i+=1
print(lcm)

575

6. Write a program to find gcd of 2 numbers

In [19]:
a=12
b=18
mini=min(a,b)
i=1
gcd=1
while(i<=mini):
    if a%i==0 and b%i==0:
        if gcd<i:
            gcd=i
    i+=1
print(gcd)

6

In [ ]:
7. Find lcm of multiple elements by using variable length arguments in the function

In [22]:
def find_lcm(*args):
    if len(args)<2:
        print("Please enter atleast 2 numbers to find LCM")
        return
    else:
        
        m=max(args)
        i=1
        lcm=m
        while True:
            count=0
            for e in args:
                if m*i%e!=0:
                    break
                else:
                    count+=1
            if count==len(args):
                lcm=m*i
                break
            i+=1
    return lcm
print(find_lcm(10,20,30,40,60,50))

600

8. Create a lambda function to get the table of any number

In [23]:
i = int(input("enter number "))
d = list(map(lambda x : str(x*i) ,range(1,11)))
print('\n'.join(d))

enter number 5
5
10
15
20
25
30
35
40
45
50

9. create a list of dictionary values, having the key as names and marks

In [27]:
l2 = [{'name':'sudheer', 'marks':[10,20,30,40]}, {'name':'chiru', 'marks':[10,20,30,40]}, {'name':'dhan', 'marks':[10,20,30,40]}]

In [28]:
for i in l2:
       print("Name: ",i['name']," Marks :",i['marks'])

Name:  sudheer  Marks : [10, 20, 30, 40]
Name:  chiru  Marks : [10, 20, 30, 40]
Name:  dhan  Marks : [10, 20, 30, 40]

In [29]:
#to get avg of marks

for i in l2:
    print(i['name'], sum(i['marks'])/len(i['marks']))

sudheer 25.0
chiru 25.0
dhan 25.0

In [31]:
#min and mx marks

for i in l2:
    i['max']=lambda i:max(i['marks'])
    i['min']=lambda i:min(i['marks'])
    print("Name: ",i['name']," Min: ",i['min'](i)," Max ",i['max'](i))

Name:  sudheer  Min:  10  Max  40
Name:  chiru  Min:  10  Max  40
Name:  dhan  Min:  10  Max  40